<!doctype html>
<html lang="en" ng-app="productsListing">

<head>
    <meta charset="utf-8">
    <title>Products listing</title>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css" />
    <script src="components/angular/angular.js"></script>
    <script src="app.js"></script>

</head>

<body>

    <div ng-controller="Products">

        <div class="row">
            <div class="col-md-2">
                <ul class="list-group">
                    <li class="list-group-item">

                        <div class="form-group">
                            <label for="filterby">Sort by:</label>
                            <select class="form-control" ng-init="order = order || 'name'" ng-model="order" id="filterby">
                                    <option ng-repeat="option in orderby" value="{{option}}">{{option}}</option>
                            </select>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-group">
                            <label for="pricefrom">Price from:</label>
                            <input class="form-control" type="number" ng-model='priceLow' id="pricefrom" />
                            <label for="priceto">Price to:</label>
                            <input class="form-control" type="number" ng-model='priceHigh' id="priceto" />
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-9">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price ($)</th>
                            <th>Description</th>
                            <th>Color</th>
                            <th>Available</th>
                            <th>Picture</th>
                            <th>Size</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" data-ng-model="temp_product.name" data-ng-required />
                            </td>
                            <td>
                                <input type="number" data-ng-model="temp_product.price" data-ng-required />
                            </td>
                            <td>
                                <input type="text" data-ng-model="temp_product.description" data-ng-required />
                            </td>
                            <td>
                                <input type="text" data-ng-model="temp_product.color" data-ng-required />
                            </td>
                            <td>
                                <input type="text" data-ng-model="temp_product.available" data-ng-required />
                            </td>
                            <td>
                                <input type="text" data-ng-model="temp_product.picture_url" data-ng-required />
                            </td>
                            <td>
                                <input type="text" data-ng-model="temp_product.size" data-ng-required />
                            </td>
                            <td>
                                <button type="submit" data-ng-click="addProduct(temp_product);" class="btn btn-default">Add new</button>
                            </td>
                        </tr>

                        <tr index="{{$index}}" data-ng-repeat="entry in products | filter:priceFilter | orderBy:order" remove-at="removeAt(index)" product bind="entry">
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>
