<tr>

    <td>
        <span data-ng-hide="editMode">{{entry.name}}</span>
        <input type="text" data-ng-show="editMode" data-ng-model="entry.name" data-ng-required />
    </td>
    <td>
        <span data-ng-hide="editMode">{{entry.price}}</span>
        <input type="number" data-ng-show="editMode" data-ng-model="entry.price" data-ng-required />
    </td>
    <td>
        <span data-ng-hide="editMode">{{entry.description}}</span>
        <input type="text" data-ng-show="editMode" data-ng-model="entry.description" data-ng-required />
    </td>
    <td>
        <span data-ng-hide="editMode">{{entry.color}}</span>
        <input type="text" data-ng-show="editMode" data-ng-model="entry.color" data-ng-required />
    </td>
    <td>
        <span data-ng-hide="editMode">{{entry.available}}</span>
        <input type="text" data-ng-show="editMode" data-ng-model="entry.available" data-ng-required />
    </td>
    <td>
        <img data-ng-hide="editMode" ng-src="{{entry.picture_url || '//:0'}}" width="150" height="150" class="img-thumbnail" onerror="this.src='http://www.paolobugatti.com/img/img-default.png'" />
        <input type="text" data-ng-show="editMode" data-ng-model="entry.picture_url" data-ng-required />
    </td>
    <td>
        <span data-ng-hide="editMode">{{entry.size}}</span>
        <input type="text" data-ng-show="editMode" data-ng-model="entry.size" data-ng-required />
    </td>
    <td>
        <button type="submit" data-ng-hide="editMode" data-ng-click="editMode = true;" class="btn btn-default">Edit</button>
        <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false;" class="btn btn-default">Close</button>
        <button type="submit" data-ng-show="editMode" data-ng-click="removeAt({index: entry})" class="btn btn-default">Delete</button>
    </td>

</tr>
